.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px; /* vert x horiz  */ 
    background-color: #FFEDA8;
}

.brand {
    text-decoration: none;
    font-size: 2rem;
    color: #75070C;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
}

/* Language dropdown */

.dropdown-toggle {
    background-color: transparent;
    border: none;
    padding: 6px 12px;
    font-size: 0.9rem;
}
.dropdown-menu {
    position: absolute;
    right: 0;
}
.dropdown-item {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    color: #b4b4b4;
}
.dropdown-item:hover {
    color: #6c2C25;
}